<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
<!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="SessionSettings" type="selenium_wrapper.SessionSettingsConfigSection, selenium_wrapper"/>
</configSections>

<SessionSettings>
  <Driver browser="ie" command_timeout="120"/>
</SessionSettings>

</configuration>